@import "_variables";
@import "_forms";

html {
  font-size: $base-font-size;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

#login {
  max-width: 480px;
  margin: 2rem auto;
}

#chat {
  width: 100vw;
  height: 100vh;
}

#messages {
  padding: 2rem;
  height: 85vh;
  overflow-y: scroll;
}

#form {
  padding: 0 2rem 2rem;
  height: 15vh;
}

#form input[type="text"] {
  display: block;
  width: 90%;
  height: 3rem;
  padding: 0.75rem;
  font-size: 1rem;
  float: left;
}

#form button[type="submit"] {
  width: 10%;
  height: 3rem;
  border: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background: royalblue;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  float: left;
}

.message {
  margin-bottom: 0.5rem;
}

.message .avatar,
.message .spacer {
  width: 42px;
  height: 42px;
  margin-right: 1rem;
  border-radius: 50%;
  float: left;
}

.message .username {
  font-weight: 600;
}

.message .text {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  background: linear-gradient(#f5f5f5, #eaeaea);
}